.shadow-inner{
    position: relative;
    --tw-shadow: inset 0 0 15px 0 #FC15EF;
    --tw-shadow-colored: inset 0 0 15px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    z-index: 1;
    transition: transform 0.8s ease; /* 添加平滑过渡 */

    &:hover{
        z-index: 2;
        --tw-shadow: inset 0 0 15px 0 #0AEAF1;

        &::before {
            position: absolute;
            content: '';
            display: block;
            width: calc(100% - 16px);
            height: calc(100% - 16px);
            left: 8px;
            top: 8px;
            background-color: rgba(90, 10, 147, 0.4);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            z-index: -1;
            border-radius: 1.5rem;
        }
    }
}
