@font-face {
    font-family: 'SpaceGrotesk';
    src: url('/fonts/SpaceGrotesk-Regular.ttf') format('truetype')
        url('/fonts/SpaceGrotesk-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'SchibstedGrotesk';
    src: url('/fonts/SchibstedGrotesk-Bold.ttf') format('truetype');
    font-display: swap;
}